.flag {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-flow: row;
    height: 300px; /* Adjust height as needed for the flag size */
    position: relative; /* Add relative positioning for stars placement */
}
.stars {
    width: 400px; /* Adjust width as needed */
    height: 250px; /* Adjust height as needed */
    background-image: url('/stars.png');
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
}

.stripes {
    position: relative; /* Adjusted position for the stripes section */
    z-index: -1;
}

.stripe {
    height: 50px; /* Height of each stripe */
    width: 75%;
}

.red {
    background-color: red;
}

.white {
    background-color: white;
}
